.ant-dropdown-menu-item-active {
 
}
.ant-dropdown-menu-title-content{
  color: black;
}
.ant-dropdown-menu-item-danger:hover {
  background-color: aliceblue !important;
}
.ant-dropdown-menu-title-content:hover {
  color: blue;
}