.Basic {
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
}
/* .Banner {
  font-size: 40px;
  height: 50px;
  background-color: antiquewhite;
  border: 1px solid black;
  text-align: center;
} */
.Content {
  display: flex;
  height: 100vh;
}
.Nav {
  margin-top: 20px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Nav div {
  margin: 10px;
  cursor: pointer;
}
.Show {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
